<div class="norskbody">

  <div class="navigation">
    <%= link_to "setninger", norsksetninger_path, :class=>"navigationbuttondark" %>
    <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbutton" %>
    <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbutton" %>
    <%= link_to "tall", norsktall_path, :class=>"navigationbutton" %>
    <%= link_to "ordbok", norskordbok_path, :class=>"navigationbutton" %>
  </div>

  <div class="norskcolumn" id="Helsetning">

    <div class="norskline">
      <div class="norskcardmaintitle">
        Helsetning
        <span class="comment">Word order in main clause sentences</span>
      </div>
    </div>

    <div class="norskline">
      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Subjekt / adverb (tid,sted,måte)
          <span class="comment">Subject or adverb (time, place, manner)</span>
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Anna
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Det
        </div>
        <div class="norskcard">
        Klokka 10
        </div>
        <div class="norskcard">
        Klokka 10
        </div>
        <div class="norskcard">
        Klokka 6
        </div>
        <div class="norskcard">
        De
        </div>
        <div class="norskcard">
        De
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Vi
        </div>
        <div class="norskcard">
        Vi
        </div>
        <div class="norskcard">
        Vi
        </div>
        <div class="norskcard">
        Vi
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Jeg
        </div>
        <div class="norskcard">
        Han
        </div>
        <div class="norskcard">
        I dag
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Verb – tid: Nåtid, Framtid, Fortid
          <span class="comment">Verb - tense: Present, Future, Past</span>
        </div>
        <div class="norskcard">
        går
        </div>
        <div class="norskcard">
        går
        </div>
        <div class="norskcard">
        går
        </div>
        <div class="norskcard">
        er
        </div>
        <div class="norskcard">
        går
        </div>
        <div class="norskcard">
        går
        </div>
        <div class="norskcard">
        spiser
        </div>
        <div class="norskcard">
        kan
        </div>
        <div class="norskcard">
        kan
        </div>
        <div class="norskcard">
        må
        </div>
        <div class="norskcard">
        skal
        </div>
        <div class="norskcard">
        skal
        </div>
        <div class="norskcard">
        skal
        </div>
        <div class="norskcard">
        vil
        </div>
        <div class="norskcard">
        vil
        </div>
        <div class="norskcard">
        liker
        </div>
        <div class="norskcard">
        pleier
        </div>
        <div class="norskcard">
        begynner
        </div>
        <div class="norskcard">
        har
        </div>
        <div class="norskcard">
        har
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Subjekt
          <span class="comment">Subject</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        vi
        </div>
        <div class="norskcard">
        jeg
        </div>
        <div class="norskcard">
        de
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        jeg
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Setnings-adverb (ikke, gjerne, kanskje, ofte, også...)
          <span class="comment">Sentence adverbs (not, like, maybe, often, too...)</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        også
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        også
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        også
        </div>
        <div class="norskcard">
        heller ikke
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        gjerne
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        ikke
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Verb – Infinitiv
          <span class="comment">Verb - infinitive</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        snakke
        </div>
        <div class="norskcard">
        snakke
        </div>
        <div class="norskcard">
        gå
        </div>
        <div class="norskcard">
        svømme
        </div>
        <div class="norskcard">
        svømme
        </div>
        <div class="norskcard">
        svømme
        </div>
        <div class="norskcard">
        kjøpe
        </div>
        <div class="norskcard">
        ha
        </div>
        <div class="norskcard">
        å se
        </div>
        <div class="norskcard">
        å stå opp
        </div>
        <div class="norskcard">
        å arbeide
        </div>
        <div class="norskcard">
        spilt
        </div>
        <div class="norskcard">
        handlet
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Objekt
          <span class="comment">Object</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        torsdag
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        norsk og spansk
        </div>
        <div class="norskcard">
        svensk
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        bil
        </div>
        <div class="norskcard">
        en øl
        </div>
        <div class="norskcard">
        på TV
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        fotball
        </div>
        <div class="norskcard">
        -
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb måte
          <span class="comment">Manner adverb</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb sted
          <span class="comment">Place adverb</span>
        </div>
        <div class="norskcard">
        på norskkurs
        </div>
        <div class="norskcard">
        på norskkurs
        </div>
        <div class="norskcard">
        på norskkurs
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        på norskkurs
        </div>
        <div class="norskcard">
        på norskkurs
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div><div class="norskcard">
        hjem
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb tid
          <span class="comment">Time adverb</span>
        </div>
        <div class="norskcard">
        Klokka 10
        </div>
        <div class="norskcard">
        Klokka 10
        </div>
        <div class="norskcard">
        Klokka 10
        </div>
        <div class="norskcard">
        i dag
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        nå
        </div>
        <div class="norskcard">
        i dag
        </div>
        <div class="norskcard">
        i dag
        </div>
        <div class="norskcard">
        i dag
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        klokka 7
        </div>
        <div class="norskcard">
        klokka 8
        </div>
        <div class="norskcard">
        før
        </div>
        <div class="norskcard">
        -
        </div>
      </div>

    </div>



  </div>
  <div class="norskcolumn" id="Leddsetning">


    <div class="norskline">
      <div class="norskcardmaintitle">
        Leddsetning
        <span class="comment">Word order in subordinate sentences</span>
      </div>
    </div>

    <div class="norskline">

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Startsetning
          <span class="comment">Starting sentence</span>
        </div>
        <div class="norskcard">
        Han sier
        </div>
        <div class="norskcard">
        Hun spør
        </div>
        <div class="norskcard">
        Hassan går hjem
        </div>
        <div class="norskcard">
        Du må holde senga
        </div>
        <div class="norskcard">
        Mange blir trøtte
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Koblingsord ikke inkludert i setningen
          <span class="comment">Linking word not included in the sentence</span>
        </div>
        <div class="norskcard">
        at
        </div>
        <div class="norskcard">
        om
        </div>
        <div class="norskcard">
        fordi
        </div>
        <div class="norskcard">
        hvis
        </div>
        <div class="norskcard">
        når
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
         Subjekt / adverb (tid, sted, måte)
          <span class="comment">Subject / adverb (time, place, manner)</span>
        </div>
        <div class="norskcard">
        han
        </div>
        <div class="norskcard">
        han
        </div>
        <div class="norskcard">
        han
        </div>
        <div class="norskcard">
        du
        </div>
        <div class="norskcard">
        de
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Setnings-adverb (ikke, gjerne, kanskje, ofte, også)
          <span class="comment">Sentence adverbs (not, like, maybe, often, too)</span>
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        ofte
        </div>
        <div class="norskcard">
        aldri
        </div>
        <div class="norskcard">
        ikke
        </div>
        <div class="norskcard">
        ikke
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Verb – tid (Nåtid, Framtid, Fortid)
          <span class="comment">Verb - tense (Present, Future, Past)</span>
        </div>
        <div class="norskcard">
        har
        </div>
        <div class="norskcard">
        er
        </div>
        <div class="norskcard">
        er
        </div>
        <div class="norskcard">
        er
        </div>
        <div class="norskcard">
        er
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Verb – Infinitiv
          <span class="comment">Verb - infinitive</span>
        </div>
        <div class="norskcard">
        spilt
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        forkjølet
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Objekt
          <span class="comment">Object</span>
        </div>
        <div class="norskcard">
        fotball
        </div>
        <div class="norskcard">
        syk
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        syk
        </div>
        <div class="norskcard">
        gravide
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb måte
          <span class="comment">Manner adverb</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb sted
          <span class="comment">Place adverb</span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle setheight">
          Adverb tid
          <span class="comment">Time adverb</span>
        </div>
        <div class="norskcard">
        før
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>

      </div>

    </div>
  </div>

  <div class="norsksidewindow">
    <div class="norskcardcategory">
      <div class="norskflex">
        <div class="norskcolumn">
          <div class="smallbutton">
            <i class="fa-solid fa-circle-chevron-left"></i>
          </div>
        </div>
        <div class="norskcolumn">
          <%= link_to "Helsetning", "#Helsetning", :class=>"norskbutton" %>
          <%= link_to "Leddsetning", "#Leddsetning", :class=>"norskbutton" %>
        </div>
      </div>
    </div>
  </div>

</div>
