<div class="norskbody">

  <div class="navigation">
  <%= link_to "setninger", norsksetninger_path, :class=>"navigationbutton" %>
  <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbutton" %>
  <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbutton" %>
  <%= link_to "tall", norsktall_path, :class=>"navigationbuttondark" %>
  <%= link_to "ordbok", norskordbok_path, :class=>"navigationbutton" %>
  </div>

<div class="norskcolumn">
 <div class="norskline">
  <div class="norskcardmaintitle">
    Tall
    <span class="comment">Numbers</span>
  </div>
</div>
  <div class="norskline">

    <div class="norskcolumn">
      <div class="norskcardmaintitle transparent">
      </div>
      <div class="norskcard">
        0
      </div>
      <div class="norskcard">
        1
      </div>
      <div class="norskcard">
        2
      </div>
      <div class="norskcard">
        3
      </div>
      <div class="norskcard">
        4
      </div>
      <div class="norskcard">
        5
      </div>
      <div class="norskcard">
        6
      </div>
      <div class="norskcard">
        7
      </div>
      <div class="norskcard">
        8
      </div>
      <div class="norskcard">
        9
      </div>
      <div class="norskcard">
        10
      </div>
      <div class="norskcard">
        11
      </div>
      <div class="norskcard">
        12
      </div>
      <div class="norskcard">
        13
      </div>
      <div class="norskcard">
        14
      </div>
      <div class="norskcard">
        15
      </div>
      <div class="norskcard">
        16
      </div>
      <div class="norskcard">
        17
      </div>
      <div class="norskcard">
        18
      </div>
      <div class="norskcard">
        19
      </div>
      <div class="norskcard">
        20
      </div>
      <div class="norskcard">
        21
      </div>
      <div class="norskcard">
        22
      </div>
      <div class="norskcard">
        23
      </div>
      <div class="norskcard">
        24
      </div>
      <div class="norskcard">
        25
      </div>
      <div class="norskcard">
        26
      </div>
      <div class="norskcard">
        27
      </div>
      <div class="norskcard">
        28
      </div>
      <div class="norskcard">
        29
      </div>
      <div class="norskcard">
        30
      </div>
      <div class="norskcard">
        40
      </div>
      <div class="norskcard">
        50
      </div>
      <div class="norskcard">
        60
      </div>
      <div class="norskcard">
        70
      </div>
      <div class="norskcard">
        80
      </div>
      <div class="norskcard">
        90
      </div>
      <div class="norskcard">
        100
      </div>
      <div class="norskcard">
        107
      </div>
      <div class="norskcard">
        236
      </div>
      <div class="norskcard">
        1000
      </div>
      <div class="norskcard">
        1275
      </div>
      <div class="norskcard">
        10000
      </div>
      <div class="norskcard">
        100000
      </div>
      <div class="norskcard">
        1000000
      </div>
    </div>
    <div class="norskcolumn">
      <div class="norskcardmaintitle">
        Kardinal
        <span class="comment">Cardinal</span>
      </div>
      <div class="norskcard">
        null
      </div>
      <div class="norskcard">
        en /ett
      </div>
      <div class="norskcard">
        to
      </div>
      <div class="norskcard">
        tre
      </div>
      <div class="norskcard">
        fire
      </div>
      <div class="norskcard">
        fem
      </div>
      <div class="norskcard">
        seks
      </div>
      <div class="norskcard">
        sju (syv)
      </div>
      <div class="norskcard">
        åtte
      </div>
      <div class="norskcard">
        ni
      </div>
      <div class="norskcard">
        ti
      </div>
      <div class="norskcard">
        elleve
      </div>
      <div class="norskcard">
        tolv
      </div>
      <div class="norskcard">
        tretten
      </div>
      <div class="norskcard">
        fjorten
      </div>
      <div class="norskcard">
        femten
      </div>
      <div class="norskcard">
        seksten
      </div>
      <div class="norskcard">
        sytten
      </div>
      <div class="norskcard">
        atten
      </div>
      <div class="norskcard">
        nitten
      </div>
      <div class="norskcard">
        tjue (tyve)
      </div>
      <div class="norskcard">
        tjueen
      </div>
      <div class="norskcard">
        tjueto
      </div>
      <div class="norskcard">
        tjuetre
      </div>
      <div class="norskcard">
        tjuefire
      </div>
      <div class="norskcard">
        tjuefem
      </div>
      <div class="norskcard">
        tjueseks
      </div>
      <div class="norskcard">
        tjuesju
      </div>
      <div class="norskcard">
        tjueåtte
      </div>
      <div class="norskcard">
        tjueni
      </div>
      <div class="norskcard">
        tretti
      </div>
      <div class="norskcard">
        førti
      </div>
      <div class="norskcard">
        femti
      </div>
      <div class="norskcard">
        seksti
      </div>
      <div class="norskcard">
        sytti
      </div>
      <div class="norskcard">
        åtti
      </div>
      <div class="norskcard">
        nitti
      </div>
      <div class="norskcard">
        (ett) hundre
      </div>
      <div class="norskcard">
        hundre og sju
      </div>
      <div class="norskcard">
        to hundre og trettiseks
      </div>
      <div class="norskcard">
        (ett) tusen
      </div>
      <div class="norskcard">
        ett tusen to hundre og syttifem
      </div>
      <div class="norskcard">
        ti tusen
      </div>
      <div class="norskcard">
        hundre tusen
      </div>
      <div class="norskcard">
        en million
      </div>
    </div>
    <div class="norskcolumn">
      <div class="norskcardmaintitle">
        Ordinær
        <span class="comment">Ordinar</span>
      </div>
      <div class="norskcard transparent">
        0
      </div>
      <div class="norskcard">
        første
      </div>
      <div class="norskcard">
        andre
      </div>
      <div class="norskcard">
        tredje
      </div>
      <div class="norskcard">
        fjerde
      </div>
      <div class="norskcard">
        femte
      </div>
      <div class="norskcard">
        sjette
      </div>
      <div class="norskcard">
        syvende
      </div>
      <div class="norskcard">
        åttende
      </div>
      <div class="norskcard">
        niende
      </div>
      <div class="norskcard">
        tiende
      </div>
      <div class="norskcard">
        ellevte
      </div>
      <div class="norskcard">
        tolvte
      </div>
      <div class="norskcard">
        trettende
      </div>
      <div class="norskcard">
        fjortende
      </div>
      <div class="norskcard">
        femtende
      </div>
      <div class="norskcard">
        sekstende
      </div>
      <div class="norskcard">
        syttende
      </div>
      <div class="norskcard">
        attende
      </div>
      <div class="norskcard">
        nittende
      </div>
      <div class="norskcard">
        tjuende
      </div>
      <div class="norskcard">
        tjueførste
      </div>
      <div class="norskcard">
        tjueandre
      </div>
      <div class="norskcard">
        tjuetredje
      </div>
      <div class="norskcard">
        tjuefjerde
      </div>
      <div class="norskcard">
        tjuefemte
      </div>
      <div class="norskcard">
        tjuesjette
      </div>
      <div class="norskcard">
        tjuesyvende
      </div>
      <div class="norskcard">
        tjueåttende
      </div>
      <div class="norskcard">
        tjueniende
      </div>
      <div class="norskcard">
        trettiende
      </div>
      <div class="norskcard">
        fjortende
      </div>
      <div class="norskcard">
        femtiende
      </div>
      <div class="norskcard">
        sextiende
      </div>
      <div class="norskcard">
        syttiende
      </div>
      <div class="norskcard">
        åttiende
      </div>
      <div class="norskcard">
        nittiende
      </div>
      <div class="norskcard">
        hundrede
      </div>
      <div class="norskcard transparent">
        hundre syvende
      </div>
      <div class="norskcard transparent">
        to hundre og trettisjette
      </div>
      <div class="norskcard">
        tusende
      </div>
      <div class="norskcard transparent">
        tusen to hundre syttifemte
      </div>
      <div class="norskcard transparent">
        ti tusende
      </div>
      <div class="norskcard transparent">
        hundre tusende
      </div>
      <div class="norskcard transparent">
        milionte (miliontede)
      </div>
    </div>

  </div>

</div>
</div>
