<div class="norskbody">
  <div >
    <%= form_for [@user, @word] do |f| %>
      <div class="norskcolumn">
        <%= f.label :ord %>
        <%= f.text_field :core, placeholder: "Type your new word here" %>

        <%= f.label :type %>
        <%= f.select :family, ["verb","noun","adjective","other"], {include_blank: "Choose type!"} %>

        <%= f.submit :class=>"navigationbutton"%>
        <% end %>
      </div>
  </div>
</div>
