<div class="norskbody">
  <div class="norskgramar">
    <%= form_for [@user, @word] do |f| %>
    <%= f.label :word %>
    <%= f.text_field :core %>

    <%= f.label :type %>
    <%= f.select :family, ["verb","noun","other"], {include_blank: "Select something"} %>

    <%= f.submit %>
    <% end %>
  </div>
</div>
