<div class="norskbody">

  <div class="navigation">
  <%= link_to "setninger", norsksetninger_path, :class=>"navigationbutton" %>
  <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbutton" %>
  <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbutton" %>
  <%= link_to "tall", norsktall_path, :class=>"navigationbutton" %>
  <%= link_to "ordbok", norskordbok_path, :class=>"navigationbuttondark" %>
  </div>



  <div class="norskcolumn">


      <% @words.each do |word|%>
        <div class="norskcardtitle">
          <div class="norskcardmaintitle">
            <%= word.core %>
            <% translations = @translations.where(word: word.id) %>
            <% if translations != nil && translations != "" %>
                <span class="comment">
                  <% translations.each do |translation|%>
                    <%= translation.meaning %>
                  <% end  %>
                </span>
            <% else %>
            <span class="comment">missing translation</span>
            <% end %>
          </div>
          - <%= word.family %>
        </div>
      <% end  %>


  </div>

  <div class="norsksidewindow">
    <div class="norskcardcategory">
      <div class="norskflex">
        <div class="norskcolumn">
          <div class="sidewindowbutton">
            <i class="fa-solid fa-circle-chevron-left"></i>
          </div>
        </div>
        <div class="norskcolumn">
          <%= link_to "Add new word", new_user_word_path(@user, @word), :class=>"navigationbutton" %>
        </div>
      </div>
    </div>
  </div>


</div>
